.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: var(--weui-FG-0);
}

.page.js_show {
    opacity: 1;
}

.page {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    opacity: 0;
    z-index: 1;
}

.page,
body {
    background-color: var(--weui-BG-0);
}



/*  */
.tab0,.tab1,.tab2,.tab3{
    width: 100%;
}

.tab0{
    background: red;
}
.tab1{
    background: goldenrod;
}
.tab2{
    background: green;
}
.tab3{
    background: orange;
}